@use "../setting" as *;

@mixin subtitle {
        font-size: 75px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 300;
        padding-bottom: 2em;
        h2{
            letter-spacing: 0.1em;
            display: inline-block;
            position: relative;
            background: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,61,133,1) 47%, rgba(0,117,255,1) 100%, rgba(0,117,255,1) 117%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          h2:before {
            display: inline-block;
            position: absolute;
            content: '';
            bottom: -70px;
            left: 15%;
            width: 80px;
            height: 10px;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translate(-50%);
            background-color: #000000;
          }
}

@mixin title {
  display: inline-block;
    background: linear-gradient(-90deg, rgba(0,0,0,1) 0%, rgba(0,61,133,1) 47%, rgba(0,117,255,1) 100%, rgba(0,117,255,1) 117%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}